:root {
  --bkgnd-pr: #F7E1D7;
  --bkgnd-scd: #EDAFB8;
}

#countdown {
  position: relative;
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
  background-color: white;
  text-align: center;
  color: black;
}

#countdown h2 {
  position: absolute;
  text-align: center;
  font-size: 40px;
  padding: 5px 0 5px 0;
  top: 40px;
  color: rgba(56,38,14, 0.50);
}
#countdown h2 span {
  font-size: 46px;
  font-weight: 300;
}
#clock {
  position: absolute;
  top: 115px;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(56,38,14, 0.30);
}

.count > *, .caption > * {
  position: relative;
  display: inline-block;
  width: 25vw;
  max-width: 70px;
  font-family: 'Montserrat', serif;
  color: white;
}

.count {
  font-size: 1.25em;
  color: #465020;
}
.caption {
  font-size: 14px;
}
#sec, #segundos {
  border-right: unset;
}

#countdown-img {
  position: relative;
  object-fit: contain;
  width: 100%;
  left: 0;
  bottom: 0;
}