.customModal {
  display: flex;
  justify-content: center;
}

.ReactModal__Overlay--after-open {
  max-height: 100vh!important;
}

.ReactModal__Content--after-open {
  display: grid;
  padding: 0px;
  height: max-content;
  width: 85vw;
  align-items: center;
}

.btn-close {
  top: 0;
  justify-self: end;
  z-index: 10;
}