.customModal {
  display: flex;
  justify-content: center;
  max-height: unset;
}
.modal-body {
  display: grid;
}
.ReactModal__Overlay--after-open {
  max-height: 100vh!important;
}

.ReactModal__Content--after-open {
  display: grid;
  padding: 0!important;
  height: max-content;
  width: 85vw;
  align-items: center;
}