#retratos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  /* overflow: hidden; */
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.retratos-bg {
  position: absolute;
  background-image: url('../../images/pre-boda/balcony.jpg');
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
.title {
  display: grid;
  justify-items: center;
  height: 180px;
}

.nuestros {
  position: relative;
  font-family: "Tangerine", cursive;
  margin-top: 10%;
  font-style: normal;
  font-size: 2.2em;
  color: var(--highlight);
}
.retratos-title {
  position: relative;
  font-size: 1em;
  top: -20%;
  margin-bottom: 10px;
}

.title {
  display: grid;
  font-size: 40px;
  max-width: 80%;
  top: -10px;
  margin-bottom: 10px;
}

.body-thumbnails {
  display: grid;
  align-self: center;
  justify-self: center;
  justify-content: center;
  grid-template-rows: min-content min-content min-content min-content min-content min-content;
  grid-template-columns: auto auto;
  gap: 0.25em;
  width: 90%;
  padding-bottom: 1.5em;
}
.thumbnail {
  display: grid;
  overflow: hidden;
  height: 100%;
  max-height: 61vw;
  box-sizing: border-box;
}
.ReactModal__Content--after-open {
  width: 95vw;
}
.ReactModal__Content--after-open img{
  display: flex;
  align-self: center; 
  justify-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.g-s-row-1 {
  grid-row-start: 1;
}
.g-s-row-2 {
  grid-row-start: 2;
}
.g-s-row-3 {
  grid-row-start: 3;
}
.g-s-row-4 {
  grid-row-start: 4;
}
.g-s-row-5 {
  grid-row-start: 5;
}
.g-s-row-6 {
  grid-row-start: 6;
}

.g-s-col-1 {
  grid-column-start: 1;
}
.g-s-col-2 {
  grid-column-start: 2;
}

.g-row-s-2 {
  grid-row: span 2;
}
.g-row-s-3 {
  grid-row: span 3;
}
.g-col-s-2 {
  grid-column: span 2;
}
