.allison-regular {
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8vh;
}
#page {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
#invitation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  display: flex;
  height: 90vh;
  width: 100vw;
  max-height: 1000px;
  max-width: 500px;
  overflow: hidden;
}

#flower1 {
  position: relative;
  top: -150px;/*-5%;*/
  left: 900px;/*5px;*/
}
#flower2 {
  position: relative;
  top: 180px;
  left: 350px;
}
#cloud1 {
  position: relative;
  top: -190px;
  left: -150px;
  animation: cloud1-moving infinite 8s linear;;
}
#cloud2 {
  position: relative;
  top: 180px;
  left: -250px;
  animation: cloud1-moving infinite 10s linear;;
}

/* @media screen and (max-width: 1024px) {
  #flower2 {
    left: -610px;
  }
} */

#letter {
  position: relative;
  height: 100%;
  width: 100%;
  left: -795px;
}

#puyisabel{
  position: relative;
  top: -550px;
  animation: float infinite 5s;
}

@keyframes cloud1-moving {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0%);
  }
}
@keyframes cloud2-moving {
  0%, 100% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateX(15px);
    transform: translateY(12px);
  }
  50% {
    transform: translateX(0);
    transform: translateY(0);
  }
}