#invitation {
  position: relative;
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  overflow: hidden;
  background-image: url('../../images/invitation.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: bottom;
  transform: rotate(180deg);
}

#invitation h2 {
  font-size: 1.5em;
}

.information {
  transform: rotate(180deg);
  display: grid;
  width: 80%;
  height: 50vh;
  /* align-content: center; */
  margin-bottom: 20%;
}
.ceremonia {
  display: grid;
  /* align-self: center; */
  justify-self: center;
  height: max-content;
  width: 80%;
}

.ceremonia > *, .lugar > * {
  margin: 10px;
}

.ReactModal__Content--after-open .rsvp-modal-body{ 
  display: flex;
  flex-direction: column;
  width: 85vw;
  padding: 15px;
  max-height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--pale-bg);
  text-align: center;
  background-image: url('../../images/rsvp-bg.png');
  background-size: contain;
}

.rsvp-modal-body > *, .rsvp-modal-body > * > * {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 5px 0 5px 0;
  font-size: 15px;
}

.ReactModal__Content--after-open .rsvp-title {
  font-family: "Playfair", serif;
  font-size: 120px;
  font-weight: 500;
  color: var(--sec-dark);
}
#rsvp-search-name, #rsvp-search-number{
  color: black;
  width: 90%;
  justify-self: center;
  align-self: center;
  border: solid 1px var(--sec);
  border-radius: 4px;
  height: 35px;
  margin: 5px;
}


.ReactModal__Content--after-open .rsvp-name {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  margin-bottom: 10px;
  color: black;
}
.rsvp-phone, .rsvp-seats, .rsvp-caption {
  display: flex;
  width: 90%;
  justify-self: center;
  align-self: center;
  color: var(--sec-dark)
}
.ReactModal__Content--after-open #rsvp-msg {
  width: 90%;
  justify-self: center;
  align-self: center;
  border: solid 1px var(--sec);
  border-radius: 4px;
  height: 35px;
  margin: 0px 5px 5px 5px;
  color: var(--sec-dark);
}
.ReactModal__Content--after-open .rsvp-btn {
  position: relative;
  display: flex;
  font-size: 15px;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
}
#populateData {
  display: grid;
}
.rsvp-btn .button {
  position: relative;
  width: 45%;
  font-size: 14px;
}