#invitation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../../images/invitation.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}

#invitation h2 {
  font-size: 1.5em;
}

.information {
  display: grid;
  width: 80%;
  height: 70vh;
}
.ceremonia, .lugar {
  display: grid;
  align-self: center;
  justify-self: center;
  height: max-content;
  width: 80%;
}

.ceremonia > *, .lugar > * {
  margin: 10px;
}

/* #invitation .button {
  position: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  justify-self: center;
  width: 100%;
  height: 70%;
} */

.ReactModal__Content--after-open .body{ 
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fffcfa;
  padding: 10%;
  text-align: center;
}

.ReactModal__Content--after-open .rsvp-title {
  font-size: 50px;
}
.ReactModal__Content--after-open .rsvp-name {
  font-size: 30px;
}
.ReactModal__Content--after-open .rsvp-contact {
  font-size: 20px;
}
.ReactModal__Content--after-open .rsvp-seats {
  font-size: 20px;
}
.ReactModal__Content--after-open .rsvp-btn-confirm, 
.ReactModal__Content--after-open .rsvp-btn-reject {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  position: relative;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

.ReactModal__Content--after-open #rsvp-msg {
  color: black;
}