#moreinfo {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-height: 800px;
  overflow: hidden;
  background-color: #4A5759;
  color: var(--navy-green);
}

.card-body {
  position: relative;
  display: grid;
  background-color: white;
  min-height: 280px;
  height: 70%;
  max-height: 300px;
  width: 70%;
  align-self: center;
  border-radius: 5%;
  box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.206);
  padding: 20px;
}

.card-content {
  text-align: center;
}
.card-body .card-title {
  display: grid;
  width: 100%;
  margin: 20px 0px 0px 0px;
  font-size: 2em;
  font-weight: bold;
}

.card-body .card-icon {
  justify-items: center;
  margin-top: 10%;
  height: 60%;
  max-height: 70px;
}

.card-body .card-icon img {
  height: 100%;
  width: auto;
}

.card-body .card-caption {
  height: max-content;
  width: 100%;
  margin: 3% 0% 0% 0%;
  font-size: 1em;
}

.card-button {
  bottom: 6%;
}

.ReactModal__Content--after-open {
  display: flex;
  width: 85vw;
  max-width: 375px;
  max-height: 70vh;
  border: unset!important;
  background: #8ca6aa!important;
}
.dressCode-modal-body, .info-modal-body{ 
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: max-content;
  text-align: center;
  box-sizing: border-box;
}
.dressCode-title, .info-title {
  font-family: "Playfair", serif;
  font-size: 50px;
  font-weight: 500;
  color: white;
}
.dressCode-info {
  object-fit: contain;
}
.dressCode-info-slide {
  max-width: 85vw;
  overflow: hidden;
}
.dressCode-caption {
  display: block;
  font-family: "Playfair", serif;
  font-size: 25px;
  color: white;
  margin-top: 10%;
}
.dressCode-info img {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: 
  space-around;
  box-shadow: none;
}
.dressCode-info ul {
  margin-top: 10%;
  list-style-type: none;
  color: white
}

.info-question {
  display: block;
  font-family: "Playfair", serif;
  font-size: 20px;
  color: white;
  margin-top: 10%;
  text-align: left;
}
.info-answer {
  text-align: left;
  color: black;
}